<link rel="stylesheet" href="/css/home.css">

<% if(locals.user) { %>

<div class="home-container">

  <!-- Home Container Starts -->

    <h1>Welcome</h1>
    
      </div>

        <!-- Home Container Ends -->

</div>

<% } %>